.nav-link-hover:hover {
    color: black;
}

.nav-link {
    color: rgb(67, 67, 67);
    border-radius: 50px;
}

.bg-img {
    background-image: url('assets/img/bg.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-icons a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-icons a:hover {
    color: #007bff;
    transform: translateY(-3px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.contact-btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgb(67, 67, 67);
    border-radius: 50px;
    text-decoration: none;
    background-color: white;
    border: 2px solid rgb(67, 67, 67);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
    color: #007bff;
    transform: translateY(-3px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.contact-btn i {
    font-size: 1rem;
}

.italic-text {
    font-style: italic;
}

.row.rounded-4 {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

.row.rounded-4:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.row.rounded-4 p {
    font-family: 'Arial', sans-serif;
    line-height: 1.7;
    font-size: 1.15rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.text-muted:hover {
    color: #0056b3;
    text-decoration: underline;
}

.dev-icons .icon-container {
    padding: 3rem;
    border-radius: 50%;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dev-icons .icon-container:hover {
    background-color: #007bff;
    transform: translateY(-5px);
}
